.productContainer{
   
    position: relative;
    top: 100px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
    align-items: center;
    height: 400px;
    min-width: 950px;
    margin: auto;

}