


table {
    
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
   margin-top: 10px;
    border: 1px solid #ccc;
    
  }
  

  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    text-align: center;

  }
  

  th {
    background-color: #f2f2f2;
  }
  

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
 


  .Btn{
        width: 60px;
        color: gray;
        border: 1px solid #ccc;
        border-radius:5px ;
  }

  .Btn:hover{
        color: black;
        cursor: pointer;
  }

  .addModal{
    position: absolute;
    top: 10px;
    right: 20px;
    border: 1px solid #ccc;
    font-size: 20px;
  }
  .addModal:hover{
    cursor: pointer;
  }
