.label{
    background-color:#D9D9D9;
    width: 900px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label ul{
display: flex;
gap: 1rem;
}

.label ul li{
list-style: none;

}